/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 //colors
 $red: red;
 $gray: rgb(218, 216, 216);

.wp-block.wp-block-everstox-tabs {
	border: 1px dotted  $gray;
	padding: 1em;

	.wp-block-create-block-tab {
		padding: 5px;
		margin-bottom: 1em;
	}

  	&.has-child-selected{
		border: solid $red 2px;
	}
}
