.wp-block-everstox-tabs {
	.tab {
		&-labels {
			padding-left: 0;
			.tab-label {
				display: inline-block;
				list-style: none;
				cursor: pointer;
				&.active {
				}
				&.active,
				&:focus,
				&:hover {
				}
			}
		}
		&-content {
			.tab-panel {
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}

}
